body{
    background: white;
    /* height: 100%;
        margin: 0;
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center; */
}


#box{
    background: rgba( 255, 255, 255, 0.7 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

   
}

label{
    font-size: 18px;
}